{% block content %}	
	<div>
	    <center><font color="blue" size="100"> {{investigacion_estudiante.titulo_investigacion}}</font></center>
	</div>

	<br>
	<font color="00FF00" size="5">Id investigación:</font> {{investigacion_estudiante.id_investigacion}} <br> <br>
	<font color="00FF00" size="5">Titulo investigacion:</font>{{investigacion_estudiante.titulo_investigacion}} <br> <br>
	<font color="00FF00" size="5">Resumen investigacion:</font>{{investigacion_estudiante.resumen_investigacion}} <br> <br>
	<font color="00FF00" size="5">Estado investigacion:</font>{{investigacion_estudiante.estado_investigacion}} <br> <br>
	<font color="00FF00" size="5">Palabra Clave 1:</font>{{investigacion_estudiante.palabra_clave1}} <br> <br>
	<font color="00FF00" size="5">Palabra Clave 2:</font>{{investigacion_estudiante.palabra_clave2}} <br> <br>
	<font color="00FF00" size="5">Palabra Clave 3:</font>{{investigacion_estudiante.palabra_clave3}} <br> <br>
	<font color="00FF00" size="5">Palabra Clave 4:</font>{{investigacion_estudiante.palabra_clave4}} <br> <br>
	<font color="00FF00" size="5">Palabra Clave 5:</font>{{investigacion_estudiante.palabra_clave5}} <br> <br>
	<font color="00FF00" size="5">Convocatoria:</font>{{investigacion_estudiante.convocatoria}} <br> <br>
	<font color="00FF00" size="5">Tipo Convocatoria:</font>{{investigacion_estudiante.tipo_convocatoria}} <br> <br>
	<font color="00FF00" size="5">Año convococatoria:</font>{{investigacion_estudiante.anio_convocatoria}} <br> <br><br><br>

	<font color="00FF00" size="5">Nombres Autor 1:</font>{{investigacion_estudiante.nombres_autor1}} <br> <br>
	<font color="00FF00" size="5">Apellidos Autor 1:</font>{{investigacion_estudiante.apellidos_autor1}} <br> <br>
	<font color="00FF00" size="5">Programa Autor 1:</font>{{investigacion_estudiante.programa_autor1}} <br> <br>
	<font color="00FF00" size="5">Departamento Autor 1:</font>{{investigacion_estudiante.departamento_autor1}} <br> <br>
	<font color="00FF00" size="5">Facultad Autor 1:</font>{{investigacion_estudiante.facultad_autor1}} <br> <br>
	<font color="00FF00" size="5">Grupo investigación Autor 1:</font>{{investigacion_estudiante.grupo_investigacion1}} <br> <br>
	<font color="00FF00" size="5">Línea investigación Autor 1:</font>{{investigacion_estudiante.linea_investigacion1}} <br> <br><br><br>

	<font color="00FF00" size="5">Nombres Autor 2:</font>{{investigacion_estudiante.nombres_autor2}} <br> <br>
	<font color="00FF00" size="5">Apellidos Autor 2:</font>{{investigacion_estudiante.apellidos_autor2}} <br> <br>
	<font color="00FF00" size="5">Programa Autor 2:</font>{{investigacion_estudiante.programa_autor2}} <br> <br>
	<font color="00FF00" size="5">Departamento Autor 2:</font>{{investigacion_estudiante.departamento_autor2}} <br> <br>
	<font color="00FF00" size="5">Facultad Autor 2:</font>{{investigacion_estudiante.facultad_autor2}} <br> <br>
	<font color="00FF00" size="5">Grupo investigación Autor 2:</font>{{investigacion_estudiante.grupo_investigacion2}} <br> <br>
	<font color="00FF00" size="5">Línea investigación Autor 2:</font>{{investigacion_estudiante.linea_investigacion2}} <br> <br><br><br>

	<font color="00FF00" size="5">Nombres Autor 3:</font>{{investigacion_estudiante.nombres_autor3}} <br> <br>
	<font color="00FF00" size="5">Apellidos Autor 3:</font>{{investigacion_estudiante.apellidos_autor3}} <br> <br>
	<font color="00FF00" size="5">Programa Autor 3:</font>{{investigacion_estudiante.programa_autor3}} <br> <br>
	<font color="00FF00" size="5">Departamento Autor 3:</font>{{investigacion_estudiante.departamento_autor3}} <br> <br>
	<font color="00FF00" size="5">Facultad Autor 3:</font>{{investigacion_estudiante.facultad_autor3}} <br> <br>
	<font color="00FF00" size="5">Grupo investigación Autor 3:</font>{{investigacion_estudiante.grupo_investigacion3}} <br> <br>
	<font color="00FF00" size="5">Línea investigación Autor 3:</font>{{investigacion_estudiante.linea_investigacion3}} <br> <br><br><br>


	<font color="00FF00" size="5">Nombres Autor 4:</font>{{investigacion_estudiante.nombres_autor4}} <br> <br>
	<font color="00FF00" size="5">Apellidos Autor 4:</font>{{investigacion_estudiante.apellidos_autor4}} <br> <br>
	<font color="00FF00" size="5">Programa Autor 4:</font>{{investigacion_estudiante.programa_autor4}} <br> <br>
	<font color="00FF00" size="5">Departamento Autor 4:</font>{{investigacion_estudiante.departamento_autor4}} <br> <br>
	<font color="00FF00" size="5">Facultad Autor 4:</font>{{investigacion_estudiante.facultad_autor4}} <br> <br>
	<font color="00FF00" size="5">Grupo investigación Autor 4:</font>{{investigacion_estudiante.grupo_investigacion4}} <br> <br>
	<font color="00FF00" size="5">Línea investigación Autor 4:</font>{{investigacion_estudiante.linea_investigacion4}} <br> <br><br><br>

	<font color="00FF00" size="5">Nombre Asesor:</font>{{investigacion_estudiante.nombre_asesor}} <br> <br>

{% endblock content %}
